h1{color:cadetblue;}
h2{color: rgb(209, 69, 92);}


body {
    background: radial-gradient(circle at center, #fceabb 0%, 
    #fbd165 40%, 
    #f8b500 80%, 
    #e39000 100%);
    /* Alternativne boje koje možeš isprobati: #fceabb (svijetlo žuta), #f8b500 (topla narančasta) */
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
header{
    background-color: rgb(16, 167, 255);
    padding:30px;
    font-size: 20px;
    margin:-10px;
    opacity: 80%;
    

}

.navigacija{
    list-style: none;
    padding: 0px;
    margin:20px;
    display:flex;
    gap:20px;
    justify-content: center;

}

.navigacija  {
    text-decoration: none;
    color:#000;
    font-weight: bold;
}

.footer{
    text-decoration: none;
    color:blueviolet;  
    text-align: end;
    background-color: brown;
    color:pink;
    padding-left:30px;
    padding-bottom: 100px;
    margin:0 -100 -100% -100% ;
}

.naslov{
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;

}

.programi{
    text-align: center;
}




p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    /*-webkit-text-stroke: 1px;*/
    -webkit-text-stroke-color: rgb(4, 190, 44);
    background-color: gray;
    opacity: 90%;

}

.slika{
    width:600px;
    border:1px solid;
    border-radius: 0 100px;
}